<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wefine.mybatis.mapper.TutorMapper">

    <resultMap type="com.wefine.mybatis.entity.Tutor" id="TutorWithCoursesNestedSelect">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <association property="address" column="addr_id"
                     select="com.wefine.mybatis.mapper.AddressMapper.findById"/>
        <collection property="courses" column="id"
                    select="com.wefine.mybatis.mapper.CourseMapper.findByTutorId"/>
    </resultMap>

    <select id="findWithRefById" parameterType="Long" resultMap="TutorWithCoursesNestedSelect">
        SELECT
            *
        FROM tutor
        WHERE id = #{tutorId}
    </select>

</mapper>
